<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.apdoer.signature.service.mapper.UserAPIKeyMapper">
    <resultMap id="BaseResultMap" type="org.apdoer.signature.service.model.po.UserAPIKeyPo">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="access_key" jdbcType="VARCHAR" property="accessKey"/>
        <result column="secret_key" jdbcType="VARCHAR" property="secretKey"/>
        <result column="enabled" jdbcType="INTEGER" property="enabled"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="right_type" jdbcType="INTEGER" property="rightType"/>
    </resultMap>

    <select id="selectByApiKey" resultMap="BaseResultMap">
        select
        id,
        user_id,
        access_key,
        secret_key,
        enabled,
        create_time,
        `name`,
        right_type
        from web_apikey
        where
        enabled = 0
        <if test="apiKey != null and apiKey != ''">
            and access_key = #{apiKey}
        </if>
    </select>

</mapper>
